@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@using Newtonsoft.Json;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/sidebar.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
    <link href="~/lib/jquery/dist/jquery-ui-1.13.2.css" rel="stylesheet" />
    <link href="~/lib/smart-wizard/css/smart_wizard_all.css" rel="stylesheet" />
    <link href="~/lib/smart-wizard/css/smart_wizard_all.min.css" rel="stylesheet" />
</head>
<body>
    @{
        var current_session = JsonConvert.DeserializeObject<Session>(HttpContextAccessor.HttpContext!.Session.GetString("UserSession")!);
    }
    <sidebar id="sidebar">
        <div class="sidenav-header">
            Sales & Inventory System
        </div>
        <hr class="horizontal light mt-0 mb-2" />

        <div class="sidenav-menu">
            <ul class="navbar-nav">
                @if (current_session!.user_type == "admin")
                {
                    <li class="nav-item" id="liDashboard">
                        <a class="nav-link text-white" href="../dashboard/index">
                            <i class="fa-solid fa-chart-pie" style="height:20px;width:30px"></i>
                            <span class="nav-link-text">&nbsp;Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-item active" id="liOrders">
                        <a class="nav-link text-white" href="../orders/list">
                            <i class="fa-solid fa-cart-plus" style="height:20px;width:30px"></i>
                            <span class="nav-link-text">&nbsp;Orders</span>
                        </a>
                    </li>
                    <li class="nav-item" id="liPayments">
                        <a class="nav-link text-white" href="../acct-receivables/list">
                            <i class="fa-solid fa-money-bill-wave" style="height:20px;width:30px"></i>
                            <span class="nav-link-text">&nbsp;Receivables</span>
                        </a>
                    </li>
                    <li class="nav-item" id="liExpenses">
                        <a class="nav-link text-white" href="../expenses/list">
                            <i class="fa-solid fa-credit-card" style="height:20px;width:30px"></i>
                            <span class="nav-link-text">&nbsp;Expenses</span>
                        </a>
                    </li>
                  @*   <li class="nav-item" id="liReturns">
                        <a class="nav-link text-white" href="../returns/list">
                            <i class="fa-solid fa-rotate-left" style="height:20px;width:30px"></i>
                            <span class="nav-link-text">&nbsp;Returns</span>
                        </a>
                    </li> *@
                    <li class="nav-item" id="liCustomers">
                        <a class="nav-link text-white" href="../customers/list">
                            <i class="fa-solid fa-users" style="height:20px;width:30px"></i>
                            <span class="nav-link-text">&nbsp;Customers</span>
                        </a>
                    </li>
                    <li class="nav-item" id="liInventory">
                        <a class="nav-link text-white" href="../inventory/list">
                            <i class="fa-solid fa-warehouse" style="height:20px;width:30px"></i>
                            <span class="nav-link-text">&nbsp;Inventory</span>
                        </a>
                    </li>
                    <li style="margin: 0 1rem;">
                        <a class="nav-link text-white">
                            &nbsp;&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-folder-open" style="height:20px;width:30px"></i>
                            <span class="nav-link-text">&nbsp;Reports</span>
                        </a>
                        <ul class="navbar-nav">
                            <li class="nav-item" id="liDailyCashReports">
                                <a class="nav-link text-white" href="../reports/daily-sales-view">
                                    <span class="nav-link-text" style="font-size:14px">&nbsp;&nbsp;&nbsp;1. Daily Cash</span>
                                </a>
                            </li>
                            <li class="nav-item" id="liDailyCreditReports">
                                <a class="nav-link text-white" href="../reports/daily-credit-view">
                                    <span class="nav-link-text" style="font-size:14px">&nbsp;&nbsp;&nbsp;2. Daily Credit</span>
                                </a>
                            </li>
                            <li class="nav-item" id="liDailyExpensesReports">
                                <a class="nav-link text-white" href="../reports/daily-expenses-view">
                                    <span class="nav-link-text" style="font-size:14px">&nbsp;&nbsp;&nbsp;3. Daily Expenses</span>
                                </a>
                            </li>
                            <li class="nav-item" id="liInventoryyHistoryReports">
                                <a class="nav-link text-white" href="../reports/inventory-history-view">
                                    <span class="nav-link-text" style="font-size:14px">&nbsp;&nbsp;&nbsp;4. Inventory History</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li style="margin: 0 1rem;">
                        <a class="nav-link text-white">
                            &nbsp;&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-screwdriver-wrench" style="height:20px;width:30px"></i>
                            <span class="nav-link-text">&nbsp;System Management</span>
                        </a>
                        <ul class="navbar-nav">
                            <li class="nav-item" id="liOr">
                                <a class="nav-link text-white" href="../receipts/list">
                                    <span class="nav-link-text" style="font-size:14px">&nbsp;&nbsp;&nbsp;1. OR Management</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                }
                else
                {
                    <li class="nav-item active" id="liOrders">
                        <a class="nav-link text-white" href="../orders/list">
                            <i class="fa-solid fa-cart-plus" style="height:20px;width:30px"></i>
                            <span class="nav-link-text">&nbsp;Orders</span>
                        </a>
                    </li>
                    <li class="nav-item" id="liPayments">
                        <a class="nav-link text-white" href="../acct-receivables/list">
                            <i class="fa-solid fa-money-bill-wave" style="height:20px;width:30px"></i>
                            <span class="nav-link-text">&nbsp;Receivables</span>
                        </a>
                    </li>
                    <li class="nav-item" id="liExpenses">
                        <a class="nav-link text-white" href="../expenses/list">
                            <i class="fa-solid fa-credit-card" style="height:20px;width:30px"></i>
                            <span class="nav-link-text">&nbsp;Expenses</span>
                        </a>
                    </li>
                    @* <li class="nav-item" id="liReturns">
                        <a class="nav-link text-white" href="../returns/list">
                            <i class="fa-solid fa-rotate-left" style="height:20px;width:30px"></i>
                            <span class="nav-link-text">&nbsp;Returns</span>
                        </a>
                    </li> *@
                    <li class="nav-item" id="liCustomers">
                        <a class="nav-link text-white" href="../customers/list">
                            <i class="fa-solid fa-users" style="height:20px;width:30px"></i>
                            <span class="nav-link-text">&nbsp;Customers</span>
                        </a>
                    </li>
                    <li style="margin: 0 1rem;">
                        <a class="nav-link text-white">
                            &nbsp;&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-folder-open" style="height:20px;width:30px"></i>
                            <span class="nav-link-text">&nbsp;Reports</span>
                        </a>
                        <ul class="navbar-nav">
                            <li class="nav-item" id="liDailyCashReports">
                                <a class="nav-link text-white" href="../reports/daily-sales-view">
                                    <span class="nav-link-text" style="font-size:14px">&nbsp;&nbsp;&nbsp;1. Daily Cash</span>
                                </a>
                            </li>
                            <li class="nav-item" id="liDailyCreditReports">
                                <a class="nav-link text-white" href="../reports/daily-credit-view">
                                    <span class="nav-link-text" style="font-size:14px">&nbsp;&nbsp;&nbsp;2. Daily Credit</span>
                                </a>
                            </li>
                            <li class="nav-item" id="liDailyExpensesReports">
                                <a class="nav-link text-white" href="../reports/daily-expenses-view">
                                    <span class="nav-link-text" style="font-size:14px">&nbsp;&nbsp;&nbsp;3. Daily Expenses</span>
                                </a>
                            </li>
                            <li class="nav-item" id="liInventoryyHistoryReports">
                                <a class="nav-link text-white" href="../reports/daily-expenses-view">
                                    <span class="nav-link-text" style="font-size:14px">&nbsp;&nbsp;&nbsp;4. Inventory History</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                }
                <li class="nav-item" id="liDashboard">
                    <a class="nav-link text-white" href="../users/login">
                        <i class="fa-solid fa-right-from-bracket" style="height:20px;width:30px"></i>
                        <span class="nav-link-text">&nbsp;Logout</span>
                    </a>
                </li>
            </ul>
        </div>
    </sidebar>

    <div id="main-content-body">
        <div class="d-flex flex-column h-100 pt-2 pb-2">
            <h2 id="content-title">@ViewData["Title"]</h2>
        </div>

        @RenderBody()
    </div>

    <div id="loader" class="loaderOverlay" style="display: none;">
        <img src="~/img/ajax-loading.gif" style="height:15%" />
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/font-awesome/js/all.js"></script>
    <script src="~/lib/font-awesome/js/all.min.js"></script>
    <script src="~/lib/jquery/dist/jquery-ui-1.13.2.js"></script>
    <script src="~/lib/smart-wizard/js/jquery.smartwizard.js"></script>
    <script src="~/lib/smart-wizard/js/jquery.smartwizard.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#sidebar-toggler").click(function () {
                $("#sidebar, #main-content, #main-content-body,sidebar-items").toggleClass('sibebar-collapse');
            });
            $(".sidenav-menu .nav-item").on("click", function () {
                var activeNav = $(this).attr("id");
                ActiveMenu(activeNav);
            });

            $('input').attr('autocomplete', 'off');
        });

        $(document).ajaxSend(function () {
            $("#loader").show();
        }).ajaxComplete(function () {
            $("#loader").hide();
        }).ajaxError(function () {
            $("#loader").hide();
        });
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
