@using Sales_Inventory.Models.DTO;
@model PaginationDTO<ExpensesDTO>;
@{
    ViewData["Title"] = "Expenses List";
}
<div class="row">
    <div class="col-md-12">
        <div class="card text-dark bg-light mb-3">
            <div class="card-body">
                <div class="row pb-2">
                    <div class="col-md-10">
                        <a type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#mdlAddExpenses"><i class="fa-solid fa-plus"></i>  Add Expenses</a>
                    </div>
                    <div class="col-md-2 float-end">
                        <input type="text" class="form-control float-end col-2" id="txt-search" placeholder="Search" />
                    </div>
                </div>
                <div class="table-responsive" id="tbl-expenses-body">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="mdlAddExpenses" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Expense</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="row mb-2">
                    <div class="col-md-6 mb-2">
                        Expense Type
                        <input type="text" class="form-control" id="expense_type">
                    </div>
                    <div class="col-md-6 mb-2">
                        Receiver
                        <input type="text" class="form-control" id="receiver">

                    </div>
                    <div class="col-md-6 mb-2">
                        Amount
                        <input type="number" class="form-control" id="amount">
                    </div>
                    <div class="col-md-6 mb-2">
                        Expense Date
                        <input type="date" class="form-control" id="expense_date">
                    </div>
                    <div class="col-md-12">
                        <input type="button" class="btn btn-success col-12" value="Save" id="btn-save">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        $(document).ready(function () {
            ActiveMenu("liExpenses");
            $("#tbl-expenses-body").load("expenses-list-body")
        })

        $("#btn-save").on("click", function () {

            var obj = {
                expense_type: $("#expense_type").val(),
                receiver: $("#receiver").val(),
                amount: $("#amount").val(),
                expense_date: $("#expense_date").val()
            }

            $.ajax({
                url: "create",
                type: "POST",
                data: { dto: obj },
                success: function (response) {
                    alert(response);
                    window.location.reload();
                },
                failure: function (response) {
                    alert(response);
                }

            });
        })

        $("#txt-search").on("keyup", function () {
            $("#tbl-expenses-body").load("expenses-list-body?keyword=" + $(this).val())
        })

        function PaginationClick(pageNo) {
            $("#tbl-expenses-body").load("expenses-list-body?page=" + pageNo)
        }
      
    </script>
}