@using Sales_Inventory.Models.DTO;
@model PaginationDTO<ProductDTO>;

@{
    ViewData["Title"] = "Inventory";
}
<div class="row">
    <div class="col-md-12">
        <div class="card text-dark bg-light mb-3">
            <div class="card-body">
                <div class="row pb-2">
                    <div class="col-md-10">
                        <a type="button" class="btn btn-secondary float-start" data-bs-toggle="modal" data-bs-target="#mdlAddProduct"><i class="fa-solid fa-plus"></i>  Add Product</a>
                    </div>
                    <div class="col-md-2">
                        <input type="text" class="form-control float-end" id="txt-search" placeholder="Search" />
                    </div>
                </div>
                <div class="table-responsive" id="tbl-inventory-list">
                   
                </div>
              
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="mdlAddProduct" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Product</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" id="product_id">
                <div class="mb-2">
                    Product Name
                    <input type="text" class="form-control" id="product_name">

                </div>
                <div class="row">
                    <div class="col-md-6 mb-2">
                        Product Code
                        <input type="text" class="form-control" id="product_code">

                    </div>
                    <div class="col-md-6 mb-2">
                        Barcode
                        <input type="text" class="form-control" id="barcode">

                    </div>
                    <div class="col-md-6 mb-2">
                        Brand
                        <input type="text" class="form-control" id="brand">

                    </div>
                    <div class="col-md-6 mb-2">
                        Quantity
                        <input type="number" class="form-control" id="quantity">

                    </div>
                    <div class="col-md-6 mb-2">
                        Unit
                        <input type="text" class="form-control" id="unit">

                    </div>
                    <div class="col-md-6 mb-4">
                        Price
                        <input type="number" class="form-control" id="price">

                    </div>
                    <div class="col-md-12">
                        <input type="button" class="btn btn-success col-12" value="Save" id="btn-save">
                    </div>
                </div>
                @*   <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="chkIsDiscounted">
                <label class="form-check-label" for="chkIsDiscounted">
                Discounted?
                </label>
                </div>
                <div class="mb-2">
                <input type="number" asp-for="discount_rate" class="form-control" id="discount_rate" disabled>
                <span asp-validation-for="discount_rate" class="text-danger"></span>
                </div> *@

            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="mdlUpdateProduct" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Update Product</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="frmUpdateProduct">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" id="product_id">
                <div class="mb-2">
                    Product Name
                    <input type="text" class="form-control" id="product_name">

                </div>
                <div class="row">
                    <div class="col-md-6 mb-2">
                        Product Code
                        <input type="text" class="form-control" id="product_code">

                    </div>
                    <div class="col-md-6 mb-2">
                        Barcode
                        <input type="text" class="form-control" id="barcode">

                    </div>
                    <div class="col-md-6 mb-2">
                        Remaining Quantity
                        <input type="number" class="form-control" id="quantity" readonly>
                    </div>
                    <div class="col-md-6 mb-2">
                        Additional Quantity
                        <input type="number" class="form-control" id="additional-quantity">
                    </div>
                    <div class="col-md-4 mb-2">
                        Brand
                        <input type="text" class="form-control" id="brand">

                    </div>
                    <div class="col-md-4 mb-2">
                        Unit
                        <input type="text" class="form-control" id="unit">

                    </div>
                    <div class="col-md-4 mb-4">
                        Price
                        <input type="number" class="form-control" id="price">

                    </div>
                    <div class="col-md-12">
                        <input type="button" class="btn btn-success col-12" value="Save" id="btn-update">
                    </div>
                </div>
                @*   <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="chkIsDiscounted">
                <label class="form-check-label" for="chkIsDiscounted">
                Discounted?
                </label>
                </div>
                <div class="mb-2">
                <input type="number" asp-for="discount_rate" class="form-control" id="discount_rate" disabled>
                <span asp-validation-for="discount_rate" class="text-danger"></span>
                </div> *@

            </div>

        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script src="~/js/inventoryjs.js"></script>
}
